# Patel Smitkumar Kaushikkumar                                            (CIN: 306587208)

# Question2: Debt Prediction

## a- Read the dataset file “Credit.csv” (you should download it from CSNS), and assign it to a Pandas DataFrame.

## b- Check out the dataset. The “Credit” dataset includes “balance” column (average credit card debt for a number of individuals) as target, as well as several features: age, cards (number of credit cards), education (years of education), income (in thousands of dollars), limit (credit limit), marital status, and rating (credit rating).

In [17]:
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import accuracy_score 

import numpy as np
import pandas as pd

credit_data = pd.read_csv('S:\MASTERS\SEMESTER_4\CS_4661\HomeWork\Homework_3\Credit.csv')
credit_data.head()

    Income  Limit  Rating  Cards  Age  Education  Married  Balance
0   14.891   3606     283      2   34         11        1      333
1  106.025   6645     483      3   82         15        1      903
2  104.593   7075     514      4   71         11        0      580
3  148.924   9504     681      3   36         11        0      964
4   55.882   4897     357      2   68         16        1      331

## c- Generate the feature matrix and target vector (target is “balance” in this dataset). Then, normalize (scale) the features (note: don’t normalize the target vector!). To normalize the data, you can simply use preprocessing.scale(X) from sklearn.

In [18]:
feature_cols=['Income','Limit','Rating','Cards','Age','Education','Married']
X = credit_data[feature_cols]
X.head()

    Income  Limit  Rating  Cards  Age  Education  Married
0   14.891   3606     283      2   34         11        1
1  106.025   6645     483      3   82         15        1
2  104.593   7075     514      4   71         11        0
3  148.924   9504     681      3   36         11        0
4   55.882   4897     357      2   68         16        1

In [19]:
y = credit_data['Balance']
y.head()

0    333
1    903
2    580
3    964
4    331
Name: Balance, dtype: int64

In [20]:
# normalization of data using prprocessing.scale
from sklearn import preprocessing
X_scaled = preprocessing.scale(X, axis=0, with_mean=True, with_std=True, copy=True)
X_scaled

array([[-0.86158299, -0.48999879, -0.46553881, ..., -1.2576741 ,
        -0.78492991,  0.79539491],
       [ 1.72743711,  0.82826106,  0.82870309, ...,  1.5284506 ,
         0.49658831,  0.79539491],
       [ 1.68675551,  1.01478681,  1.02931059, ...,  0.88996369,
        -0.78492991, -1.25723711],
       ...,
       [ 0.35946155, -0.24491264, -0.21963285, ...,  0.65778663,
        -0.46455035,  0.79539491],
       [-0.21280808, -0.95891584, -1.05441888, ..., -0.67723146,
        -0.1441708 ,  0.79539491],
       [-0.75334493,  0.34199278,  0.38866085, ...,  0.48365384,
        -2.06644812, -1.25723711]])

## d- Split the dataset into testing and training sets with the following parameters: test_size=0.24, random_state=4.

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.24, random_state=4)
print(X_train.shape)
print(y_train.shape)

print(X_test.shape)
print(y_test.shape)

(304, 7)
(304,)
(96, 7)
(96,)

## e- Use Linear Regression to train a linear model on the training set. Check the coefficients of the linear regression model. Which feature is the most important? Which feature is the least important?

In [22]:
credit_linreg = LinearRegression()
credit_linreg.fit(X_train , y_train) 

print(credit_linreg.intercept_)

print('\n')
# print(feature_cols)
print(credit_linreg.coef_)

print('\n')
coef_of_features = dict(zip(feature_cols, credit_linreg.coef_))
print(coef_of_features)

517.6919750342976


[-264.98372644  131.99156792  478.53169403   14.72121881  -29.7832935
    1.67827514  -20.20616103]


{'Income': -264.98372643959664, 'Limit': 131.99156791536168, 'Rating': 478.53169403492814, 'Cards': 14.721218808685544, 'Age': -29.783293502230666, 'Education': 1.6782751399717233, 'Married': -20.206161027401002}

## BEST IMPORTANT FEATURE :  Rating

## LEAST IMPORTANT FEATURE : Income

## f- Predict “balance” for the users in testing set. Then, compare the predicted balance with the actual balance by calculating and reporting the RMSE (as we saw in lab tutorial 4).

In [23]:
y_prediction = credit_linreg.predict(X_test)
print(y_prediction)

[ 1.40192822e+03  3.72390498e+02  3.09606997e+02  7.75587837e+02
  3.63641910e+02  9.54490329e+02  3.20745279e+02 -2.32591690e+02
  3.99394342e+02  6.01919205e+02 -2.52478552e+02  3.82362570e+02
  4.72524424e+02  7.15924136e+02  1.11080816e+01  6.76777695e+02
 -1.10205182e+02  2.34123414e+02 -2.17604376e+02  1.36106372e+03
  3.62716990e+02 -7.18441620e+01  3.46590403e+02 -3.48468421e+00
 -1.98897875e+02 -3.79979558e+01  7.87248445e+02  3.41641943e+02
  6.76645933e+02 -5.36248977e+01  7.73056436e+02  1.50270904e+01
  9.34623394e+02  3.80185173e+02  7.48107862e+02 -2.85720687e+02
  1.00583355e+03  5.07594510e+02 -1.40361418e+02  1.10973338e+03
  1.08474720e+03  3.98005654e+02  6.40559128e+02  9.08998220e+02
  6.99056037e+02  7.92919368e+02  3.82003132e+02  9.70862036e+02
  3.34390882e+02  1.16908059e+03  2.43605505e+02  2.78833488e+02
 -6.23362942e-01  3.85459830e+01  2.49931072e+02  8.25222693e+02
 -1.98555175e+02  5.71140218e+01  1.17285043e+03  9.81760238e+02
 -6.84711889e+00  2.70524823e+02  1.08559503e+03  7.15655323e+02
  1.30819411e+02  5.64236980e+02  8.30184087e+02  1.49315369e+03
  8.63297507e+02  4.74956374e+02  9.84021756e+01  6.89313125e+02
  9.13786870e+02  4.31100337e+02  8.78305055e+02 -1.75046527e+02
 -1.04907554e+02  1.40496710e+03  1.01565064e+03  6.65436313e+01
  1.92415294e+02  4.70577920e+02  1.10527713e+03  8.87580838e+02
  1.06491174e+03  8.09197398e+02  4.77326285e+02  8.75818625e+02
  1.03458765e+03 -1.92109932e+02 -1.47672260e+01  9.64020835e+02
  5.05529492e+02  1.08659975e+03 -2.63344522e+02  9.93883438e+01]

## g- Now, use 10-fold Cross-Validation to evaluate the performance of a linear regression in predicting the balance. Thus, rather than splitting the dataset into testing and training, use Cross-Validation to evaluate the regression performance. What is the RMSE when you use cross validation?

In [24]:
mse = metrics.mean_squared_error(y_test, y_prediction)
rmse = np.sqrt(mse)
print('RMSE: ' , rmse)

RMSE:  161.51385491175333

In [25]:
accuracy_list = cross_val_score(credit_linreg, X, y, cv=10, scoring='neg_mean_squared_error')
print(accuracy_list)

[-23646.90415342 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205938 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212176 -23204.9474346 ]

In [26]:
mse_list_positive = -accuracy_list
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

[153.7754992  178.89394627 188.31527914 193.20353826 119.75525901
 183.38039983 177.85385343 111.76315739 144.04725656 152.331702  ]

In [27]:
print('Mean value of RMSE list : ' ,rmse_list.mean())

Mean value of RMSE list :  160.33198910744073